mark {
            background-color: rgb(196, 199, 0);
            border-radius: 10px;
            /* Abrundung */
            padding: 2px 4px;
            /* Etwas Innenabstand für bessere Optik */
        }
        
        body {
            background-color: #262626;
            color: white;
            font-family: "Roboto", sans-serif;
            text-align: center;
        }
        
        div {
            margin-top: 200px;
        }
        
        h1 {
            font-size: 5vmax;
        }
        
        button {
            padding: 35px;
        }
        
        #bottone1 {
            padding-left: 33px;
            padding-right: 33px;
            padding-bottom: 16px;
            padding-top: 16px;
            border-radius: 9px;
            background: #d5f365;
            border: none;
            font-family: inherit;
            text-align: center;
            cursor: pointer;
            transition: 0.4s;
        }
        
        #bottone1:hover {
            box-shadow: 7px 5px 56px -14px #C3D900;
        }
        
        #bottone1:active {
            transform: scale(0.97);
            box-shadow: 7px 5px 56px -10px #C3D900;
        }
        
        .bottone1 {
            padding-left: 33px;
            padding-right: 33px;
            padding-bottom: 16px;
            padding-top: 16px;
            border-radius: 9px;
            background: #d5f365;
            border: none;
            font-family: inherit;
            text-align: center;
            cursor: pointer;
            transition: 0.4s;
        }
        
        .bottone1:hover {
            box-shadow: 7px 5px 56px -14px #C3D900;
        }
        
        .bottone1:active {
            transform: scale(0.97);
            box-shadow: 7px 5px 56px -10px #C3D900;
        }
        
        #lobbySection, #nameSection {
            margin-top: 100px;
            transition: all 0.3s;
        }