        body {
            font-size: 16px;
            /* Standardgröße */
            background-color: #262626;
            font-family: "Roboto", sans-serif;
            color: white;
            background-color: #262626;
            font-family: "Roboto", sans-serif;
            color: white;
            text-align: center;
        }
        
        h1 {
            font-size: 2rem;
            /* Dynamische Größe für Überschrift */
            text-align: center;
        }
        
        p {
            font-size: 1.2rem;
            /* Dynamische Größe für Absatz */
            text-align: center;
        }
        
        meter {
            width: 50vw;
            height: 5vh;
            margin: 20px auto;
            display: block;
        }
        
        #fortfahren {
            font-size: 1.5rem;
            /* Sichtbarer Button für mobile Geräte */
            display: block;
            margin: 20px auto;
            text-align: center;
            cursor: pointer;
        }
        
        button {
            padding-left: 33px;
            padding-right: 33px;
            padding-bottom: 16px;
            padding-top: 16px;
            border-radius: 9px;
            background: #d5f365;
            border: none;
            font-family: inherit;
            text-align: center;
            cursor: pointer;
            transition: 0.4s;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }
        
        button:hover {
            box-shadow: 7px 5px 56px -14px #C3D900;
        }
        
        button:active {
            background: #cccc00;
            -webkit-box-shadow: inset 0px 0px 5px #cccc00;
            -moz-box-shadow: inset 0px 0px 5px #cccc00;
            box-shadow: inset 0px 0px 5px #cccc00;
            outline: none;
        }