body {
    background-color: #1c1c1c; /* Dunkler Hintergrund */
    color: #ffffff; /* Weißer Text */
    font-family: 'Arial', sans-serif; /* Schriftart */
}

h1{
    color: #ffffff; /* Weißer Text */
    text-align: center; /* Zentrierter Text */
    font-size: 2.5em;
    margin-top: 20px;
}

#punkte {
    font-size: 1.5em; /* Schriftgröße */
    text-align: center; /* Zentrierter Text */
    margin-top: 20px;
    color: #690ae6; /* Weißer Text */
    background-color: #ffffff;
    border-radius: 5px;
}

#bonuspunkte{
    font-size: 1.2em; /* Schriftgröße */
    text-align: center; /* Zentrierter Text */
    margin-top: 5px;
    color: green;
    font-weight: bold; /* fett */
    height: 20px;
}

#streak {
    font-size: 1.2em; /* Schriftgröße */
    text-align: right;
    color:darkorange;
    border-radius: 5px;
    padding: 4px 12px;
    position:static;
    font-style: italic; /* kursiv */
}

#timer {
    font-size: 1.5em; /* Schriftgröße */
    text-align: center; /* Zentrierter Text */
    margin-top: 20px;
    color: #eb0d0d; /* Weißer Text */
    background-color: #ffffff;
    border-radius: 5px;
    
}

#timerPlus {
    font-size: 1.2em; /* Schriftgröße */
    text-align: center; /* Zentrierter Text */
    margin-top: 5px;
    color: green;
    font-weight: bold;
    height: 20px;
    
}

#gameTable {
    border-spacing: 0; /* Entfernt den Abstand zwischen den Zellen */
    border-collapse: collapse; /* Sorgt dafür, dass keine Lücken zwischen den Zellrändern entstehen */
    margin: 0 auto; /* Zentriert die Tabelle */
}

td {
    padding: 0; /* Entfernt die Auffüllung innerhalb der Zellen */
    margin: 0; /* Entfernt jegliche Ränder */
}

.cards {
    width: 90%; /* Füllt die gesamte Tabellenzelle aus */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    margin: 0; /* Entfernt jegliche zusätzlichen Abstände */
    display: block; /* Entfernt Inline-Abstände */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    transform-style: preserve-3d; /* 3D Transformator */
    cursor: grab;
    margin-top: 10%;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.cards.clicked {
    transform: rotateY(180deg); /* Umdreh Effekt */
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.6s ease-in-out, box-shadow 0.3s;
}

#playerList {
    margin: 20px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 8px;
    color: white;
}

.player {
    padding: 5px;
    border-bottom: 1px solid #333;
}

.cards.found {
    animation: fadeOut 0.7s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(1.2) rotateZ(10deg);
    }
}